<nav class="nav">
    <div class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span>Home</span><i
                class="fas fa-home"></i></a>
        
        <br>

        <a routerLink="/about" routerLinkActive="active"><span>About</span><i class="fas fa-user"></i></a>

        <br>

        <a routerLink="/protfolio" routerLinkActive="active"><span>Protfolio</span><i
                class="fas fa-briefcase"></i></a>
                
        <br>

        <a routerLink="/contact" routerLinkActive="active"><span>Contact</span><i
                class="fas fa-envelope-open"></i></a>
                
        <br>
        
        <a routerLink="/blog" routerLinkActive="active"><span>Blog</span><i class="fas fa-comments"></i></a>
    </div>
</nav>