<main>
    <div class="header-titel">
        <h1>Resume</h1>
        <h2>About <span class="title-span">me</span></h2>
    </div>
    <br>
    <div class="container">
        <div class="profileData">
            <div class="left-side">
                <h2 class="">PERSONAL INFOS</h2>
                <br>
                <div class="right">
                        <img src="../../../assets/images/profile.jpg" alt="">
                </div>
                <div class="details">
                    <div class="details-left">
                        <h3><span class="block-ele">First Name: </span>Abdullah Al</h3>
                        <h3><span class="block-ele">Age: </span>27 Years</h3>
                        <h3><span class="block-ele">Freelance: </span>Available</h3>
                        <h3><span class="block-ele">Phone: </span>+21621184010</h3>
                        <h3><span class="block-ele">Skype: </span> steve.milner</h3>
                    </div>
                    <div class="detials-right">
                        <h3><span class="block-ele">Last Name: </span>Nomaan</h3>
                        <h3><span class="block-ele">Nationality: </span>Bangladeshy</h3>
                        <h3><span class="block-ele">Address: </span>Dhaka, Bangladesh</h3>
                        <h3><span class="block-ele">Email: </span>noomaa240@gmail.com</h3>
                        <h3><span class="block-ele">Languages: </span> Bangla, English</h3>
                    </div>
                </div>

                <br>
                <div class="btn">
                    <button class="">
                        <span class="btn-text">More about me</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="right-side">
                <div class="card-box">
                    <h1>12 <span>+</span></h1>
                    <div class="card-detials">
                        <div class="border-line"></div>
                        <p class="datas">
                            Years of<br>
                            Experience
                        </p>
                    </div>
                </div>
                <div class="card-box">
                    <h1>97 <span>+</span></h1>
                    <div class="card-detials">
                        <div class="border-line"></div>
                        <p class="datas">
                            Completed<br>
                            Projects
                        </p>
                    </div>
                </div>
                <div class="card-box">
                    <h1>83 <span>+</span></h1>
                    <div class="card-detials">
                        <div class="border-line"></div>
                        <p class="datas">
                            Happy<br>
                            Customers
                        </p>
                    </div>
                </div>
                <div class="card-box">
                    <h1>60 <span>+</span></h1>
                    <div class="card-detials">
                        <div class="border-line"></div>
                        <p class="datas">
                            Awards<br>
                            Won
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <hr width="50%">
        <br><br>

        <div class="all-skill">
            <h1>My Skill</h1>
            <br><br>
            <div class="skills">
                <div class="skill">
                    <div class="circle-progress progress-one">
                        <h2>60%</h2>

                    </div>
                    <h3>HTML</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-two">
                        <h2>46%</h2>

                    </div>
                    <h3>CSS</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-three">
                        <h2>76%</h2>

                    </div>
                    <h3>Javascript</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-four">
                        <h2>10%</h2>

                    </div>
                    <h3>php</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-five">
                        <h2>90%</h2>

                    </div>
                    <h3>wordpress</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-six">
                        <h2>50%</h2>

                    </div>
                    <h3>Jquery</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-one">
                        <h2>58%</h2>

                    </div>
                    <h3>Angular</h3>
                </div>
                <div class="skill">
                    <div class="circle-progress progress-eight">
                        <h2>30%</h2>

                    </div>
                    <h3>React</h3>
                </div>
            </div>
        </div>
        <br>
        <hr width="50%">
        <br><br>

        <div class="all-experiace">
            <h1>EXPERIENCE & EDUCATION</h1>
            <div class="experiences">
                <div class="experiance">
                    <div class="expe">
                        <i class="fas fa-briefcase"></i>
                        <div class="expe-detials">
                            <h6>2018 - present</h6>
                            <h3>Web Developer - <span>Envato</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, ducimus.</p>
                        </div>

                    </div>
                    <div class="expe">
                        <i class="fas fa-briefcase"></i>
                        <div class="expe-detials">
                            <h6>2015</h6>
                            <h3>Engineering Degree - <span>Oxford University</span>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit.
                                Lorem ipsum dolor sit amet.</p>
                        </div>

                    </div>
                    <div class="expe">
                        <i class="fas fa-briefcase"></i>
                        <div class="expe-detials">
                            <h6>2013 - 2018</h6>
                            <h3>Ui/Ux designer - <span>teamforest</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit.
                                Lorem ipsum dolor sit amet consectetur.</p>
                        </div>

                    </div>
                    <div class="expe">
                        <i class="fas fa-briefcase"></i>
                        <div class="expe-detials">
                            <h6>2012</h6>
                            <h3>Master Degreee - <span>Feni University</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit.
                                Lorem ipsum dolor sit amet consectetur.</p>
                        </div>

                    </div>
                    <div class="expe">
                        <i class="fas fa-briefcase"></i>
                        <div class="expe-detials">
                            <h6>205 - 2013</h6>
                            <h3>Consultant - <span>videohive</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>

                    </div>
                    <div class="expe">
                        <i class="fas fa-briefcase"></i>
                        <div class="expe-detials">
                            <h6>2009</h6>
                            <h3>Bachelor Degree - <span>Tuins high school
                                </span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit.
                                Lorem ipsum dolor sit.</p>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>


    </div>
</main>