<main>

    <!-- background image div start-->
    <div class="background-skew"></div>
    <!-- background image div end-->

    <div class="container">
        <!-- image side div start -->
        <div class="right">
            <!-- <div class="image"> -->
                <img src="../../../assets/images/profile.jpg" alt="">
            <!-- </div> -->
        </div>
        <!-- image side div end -->

        <!-- details side div start -->
        <div class="left">
            <div class="">
                <div class="header-info">
                    <span class="border-line"></span>
                    <div class="title header-text">
                        <h1>
                            I'M Abdullah Al Nomaan.
                            <br><span class="text-white">WEB DESIGNER</span>
                        </h1>
                    </div>
                    <p>
                        I'm a Tunisian based web designer & front‑end developer focused on crafting clean &
                        user‑friendly experiences, I am passionate about building excellent software that improves
                        the lives of those around me.
                    </p>
                </div>


                <div class="btn">
                    <button class="">
                        <span class="btn-text">More about me</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>

            </div>
        </div>
        <!-- details side div end -->

    </div>
</main>